<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🔎 Pokédex</h1>
<form method="post">
 <input type="text" name="pokemon" placeholder="Digite o nome do Pokemon">
 <button type="submit">Buscar</button>
</form>
{% if pokemon %}
 {% if pokemon.erro%}
 <p class="erro">{{ pokemon.erro}}</p>
  
  {%else%}
  <div class="imgpokemon"><img src="/src/imageDownloader/downloads/*
  .qodo" alt="{{ pokemon.nome}}"></div>

  <div class="card">
    <h2>{{pokemon.nome}}</h2>
<p><strong>Tipo:</strong> {{ pokemon.tipo |join(', ') }}</p>
<p><strong>Altura:</strong> {{ pokemon.altura }}m</p>
<p><strong>Peso:</strong> {{ pokemon.peso }}kg</p>

</div>
{%endif%}
{%endif%}
</body>
</html>